<h2>Enter your New Recipe</h2>
<form method="post" action="/recipes">
  <input type="text" placeholder="Name" name="recipe[name]">
  <br></br>
  <input type="text" placeholder="Ingredients" name="recipe[ingredients]">
  <br></br>
  <input type="text" placeholder="Cooktime" name="recipe[cook_time]">
  <br></br>
  <input type="submit" value="submit">
</form>
